.right__section {
    padding: 2rem;
}

.yow {
    padding: 2rem;
    height: 100%;
    background-color: var(--Very-dark-cyan);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-content: space-around; */
}

.btn{
    height: 100%;
    display: flex;
    justify-content: center;

    position: relative;
}

.btn button {
    
    position: absolute;
    bottom: 20px;

    width: 100%;
    height: 2.5rem;

    border: none;
    border-radius: 3px;
    cursor: pointer;
    background: var(--Strong-cyan);
}

.btn button:hover {
    
    
    background: var(--Light-grayish-cyan);
}

.yow .top__section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nge {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nge h1{
    font-family: var(--mono47);
    color: var(--White);
    font-size: 0.8rem;
}

.firs{
    margin-bottom: 2rem;
}

.sub {

    color: var(--dDark-grayish-cyan);
    font-size: 0.7rem;
}

.total {
    font-family: var(--mono47);
    font-size: 3rem;
    color: var(--Strong-cyan);
}