.left__section {

    display: flex;
    flex-direction: column;

    flex-wrap: nowrap;

}

.inside__left > *{
    margin-bottom: 2rem;
}

/* iconsssssssssssssssssssssssssssssssssssssssssssss */
.top__left::before {
    content: url('./images/icon-dollar.svg');
    position: relative;
    top: 55px;
    left: 10px;
}

.input__people::before {
    content: url('./images/icon-person.svg');
    position: relative;
    top: 55px;
    left: 10px;
}


/* input css */

input[type=number] {

    height: 2.5rem;
    width: 100%;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 4px;

    text-align: end;

    font-family: var(--mono47);
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--Very-dark-cyan);
    border: 2px solid var(--Strong-cyan);
    background: var(--LLight-grayish-cyan);
    -moz-appearance: textfield;
} 

input[type=number]:focus {

    outline: none;
}

/* remove arrows input numbers */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  opacity: 1; 
  margin: 0; 
}


/* ============================================================ */

/* tip */

.tip__choices {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    overflow: auto;
}

.tip__choices input[type=button] {
    width: 7rem;
    height: 2.4rem;
    border-radius: 3px;

    font-family: var(--mono47);
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--White);
    border: none;
    background: var(--Very-dark-cyan);
}

@media (max-width: 447px) {
    
    .tip__choices input[type=button] {
        width: 90%;
    }
}

.tip__choices input[type=button]:hover {

    background: var(--Strong-cyan);
    cursor: pointer;
}

.tip__choices input[type=number] {

    width: 7rem;
    height: 2.5rem;

    font-family: var(--mono47);
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--Very-dark-cyan);

    text-align: end;
}

.tip__choices input[type=number]::placeholder {
    font-size: 1rem;
}

@media (max-width: 447px) {
    
    .tip__choices input[type=number] {
        width: 90%;
        padding: 0 1rem;
        text-align: center;
    }

    .tip__choices input[type=number]::placeholder {
        font-size: 0.7rem;
    }
}