@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{

    --Strong-cyan: hsl(172, 67%, 45%);

    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --dDark-grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --LLight-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);

    --mono47: 'Space Mono', monospace;
}

body{
    height: 700px;
    width: 100vw;

    display: grid;
    place-items: center;
    align-items: center;

    overflow-x: hidden;
    background: var(--Light-grayish-cyan);
}

main {
    width: 60%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    border-radius: 20px;
    background: var(--White);

    position: relative;
}

.sections {
    /* position: static; */
    width: 28rem;
    height: 100%;
    padding: 2em;

}

.header {
    display: block;

    font-size: 0.8rem;
    font-family: var(--mono47);
    color: var(--Dark-grayish-cyan);

    margin-bottom: 0.4em;
}

.logo{
    margin: 2rem 0;
    width: 8rem;
}



@media screen and (max-width: 1314px) {

    main{
        width: 80%;
        height: 25rem;
    }
}

@media screen and (max-width: 1017px) {

    main{
        width: 80%;
        height: 50rem;
        flex-direction: column;
    }

    /* .logo{
        margin-bottom: -20rem;
        width: 5rem;
    } */
}


@media screen and (max-width: 517px) {

    body{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;

        padding: 0.2rem;
    }
    main{
        width: 100%;

    }

    .sections {
        height: 25rem;
    }

    .btn button {
        bottom: 0;
    }

    
}